.signup-button{
    color:white !important;
    background-color: #3b49df !important;
}

.navbar-grid{
    height: 10%;
    border-bottom: 1px solid;
}

.main-grid{
    height: 100%;
}

.login-component{
    padding-top: 50px;
    width: 100%;
    background-color: lightgrey;
    height: 90%;
}